@import './../../../../theme/theme.css';

.recipe__title {
    color: var(--color-font-title-secondary);
    font-family: var(--font-family-text);
    font-size: var(--font-size-small-title);
    font-weight: var(--font-weight-primary);
    margin-bottom: 0.8em;
}