.person__image {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.person__image--roberta {
    background: url(/assets/img/pessoas/roberta.jpg) no-repeat center / cover;
}

.person__image--marcela {
    background: url(/assets/img/pessoas/marcela.jpg) no-repeat center / cover;
}

.person__image--andreia {
    background: url(/assets/img/pessoas/andreia.jpg) no-repeat center / cover;
}

@media only screen and (max-width: 768px) {
    .person__image {
        height: 180px;
        width: 180px;
    }
}

@media only screen and (max-width: 425px) {
    .person__image {
        height: 250px;
        width: 250px;
    }
}